.custom-navbar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  font-family: "Merriweather", serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
  background-color: #d0dcf5;
}

body {
  padding-top: 56px; /* Height of navbar for spacing */
  
}

.navbar-brand {
  font-weight: bold;
  letter-spacing: 1px;
  color: black;
}

.navbar-nav .nav-link {
  color: black !important;
  margin-right: 10px;
  transition: color 0.2s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #3f18ee !important;
}

@media (max-width: 991px) {
  .navbar-nav {
    background: #d0dcf5;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
  }
  .navbar-nav .nav-link {
    margin: 0.5rem 0;
  }
}
